
section, footer, aside, nav, article, figure, figcaption,hgroup{
    display : block;
}
body{
    background: url(../recursos/noise.jpg);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    
    margin: 0 auto;
    width: 1000px;
}
.video-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-wrapper video{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.iframewrapper {
    
    margin: 0 auto;
    width: 1000px;
}
.videoIframeWrapper{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 10px;
}

.videoIframeWrapper iframe{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

header{
    display: block;
    font-size: 5 em;
    background: rgb(165, 214, 245);
    height: 7 em;
    margin: 1 em;
    line-height: 7 em;
    color: black;
}

#reproductor{
    width: 720px;
    margin: 20px auto;
    padding: 5px;
    background: #999999;
    border: 1px solid #666666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.nav-bar {
    transition: padding-top .3s, padding-bottom .3s;
    border: none;
}
#navigation {
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue';
    
}
#navigation li{
    display: inline-block;
    margin-bottom: 5px;
}
#navigation li a{
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
}

#navigation li a:hover{
    background-color: #368DF8;
}

#botones{
    float: left;
    width: 100px;
    height: 20px;
}
#barra{
    position: relative;
    float: left;
    width: 600px;
    height: 16px;
    padding: 2px;
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
}
#progreso{
    position: absolute;
    width: 0px;
    height: 16px;
    background: rgba(0,0,150,.2);
}
footer{
    position: absolute;
    color:black;
    text-align: center;
    width: 100%;
    padding:0;
}
.logos li{
    display:inline-block;
    margin-top: 25px;
}

#video-colection .video-list {
    width: 275px;
    height: 56.25%;
    border: black solid 1px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 5px;
    margin-right: 5px;
}